ogb==1.3.6
numpy==1.26.2
pandas==2.1.3
scipy==1.11.4
networkx==3.2.1
sentence-transformers>=2.7.0
transformers==4.36.0
tokenizers==0.15.0
huggingface-hub<0.25.0
faiss-cpu==1.7.4
scikit-learn==1.3.2
fastapi==0.111.0
uvicorn[standard]==0.24.0
pydantic==2.4.2
python-dotenv==1.0.0
mlflow==2.8.0
dagshub==0.3.8
dvc==3.30.0
dvc[gdrive]==3.30.0
pytest==7.4.3
pytest-cov==4.1.0
httpx==0.23.0
ruff==0.1.6
gradio==4.44.1
requests==2.31.0
tqdm==4.66.1
pyyaml==6.0.1
loguru==0.7.2
matplotlib==3.8.2




(venv) PS C:\Users\Adarsh Reddy\Documents\GraphSAGE>




                                                     python src/data_prep/preprocess.py --step metadata
>>
2026-04-04 04:09:15.023 | INFO     | __main__:build_metadata:24 - Loading OGBN-Arxiv from local cache...
2026-04-04 04:09:15.150 | INFO     | __main__:build_metadata:34 - Loading raw titles from data/raw/titleabs.tsv.gz...
2026-04-04 04:09:19.739 | WARNING  | __main__:build_metadata:52 - Raw titles length (149867) does 
not match num_papers (169343).
Traceback (most recent call last):
  File "C:\Users\Adarsh Reddy\Documents\GraphSAGE\src\data_prep\preprocess.py", line 127, in <module>
    build_metadata(params)
  File "C:\Users\Adarsh Reddy\Documents\GraphSAGE\src\data_prep\preprocess.py", line 55, in build_metadata
    df_text["year"] = years
    ~~~~~~~^^^^^^^^
  File "C:\Users\Adarsh Reddy\Documents\GraphSAGE\venv\Lib\site-packages\pandas\core\frame.py", line 4091, in __setitem__
    self._set_item(key, value)
  File "C:\Users\Adarsh Reddy\Documents\GraphSAGE\venv\Lib\site-packages\pandas\core\frame.py", line 4300, in _set_item
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Adarsh Reddy\Documents\GraphSAGE\venv\Lib\site-packages\pandas\core\frame.
py", line 5039, in _sanitize_column
    com.require_length_match(value, self.index)
  File "C:\Users\Adarsh Reddy\Documents\GraphSAGE\venv\Lib\site-packages\pandas\core\common
.py", line 561, in require_length_match
    raise ValueError(
ValueError: Length of values (169343) does not match python src/data_prep/preprocess.py --s
tep metadata
>> nv) PS C:\Users\Adarsh Reddy\Documents\GraphSAGE>
2026-04-04 04:11:02.079 | INFO     | __main__:build_metadata:24 - Loading OGBN-Arxiv from l
ocal cache...
2026-04-04 04:11:02.211 | INFO     | __main__:build_metadata:34 - Loading raw titles from d
ata/raw/titleabs.tsv.gz...
2026-04-04 04:11:05.921 | WARNING  | __main__:build_metadata:53 - Raw titles length (149867
) does not match num_papers (169343).
Traceback (most recent call last):
  File "C:\Users\Adarsh Reddy\Documents\GraphSAGE\src\data_prep\preprocess.py", line 128, i
n <module>
    build_metadata(params)
  File "C:\Users\Adarsh Reddy\Documents\GraphSAGE\src\data_prep\preprocess.py", line 56, in
 build_metadata
    df_text["year"] = years
    ~~~~~~~^^^^^^^^
  File "C:\Users\Adarsh Reddy\Documents\GraphSAGE\venv\Lib\site-packages\pandas\core\frame.
py", line 4091, in __setitem__
    self._set_item(key, value)
  File "C:\Users\Adarsh Reddy\Documents\GraphSAGE\venv\Lib\site-packages\pandas\core\frame.
py", line 4300, in _set_item
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Adarsh Reddy\Documents\GraphSAGE\venv\Lib\site-packages\pandas\core\frame.py", line 5039, in _sanitize_column
    com.require_length_match(value, self.index)
  File "C:\Users\Adarsh Reddy\Documents\GraphSAGE\venv\Lib\site-packages\pandas\core\common.py", line 561, in require_length_match
    raise ValueError(                                python src/data_prep/preprocess.py --step metadataError: Length of values (169343) does not match length of index (149867)
>> nv) PS C:\Users\Adarsh Reddy\Documents\GraphSAGE>
2026-04-04 04:20:06.598 | INFO     | __main__:build_metadata:24 - Loading OGBN-Arxiv from local cache...
2026-04-04 04:20:06.743 | INFO     | __main__:build_metadata:34 - Loading raw titles from data/raw/titleabs.tsv.gz...
2026-04-04 04:20:10.568 | INFO     | __main__:build_metadata:47 - Loading mapping from data/raw/ogbn_arxiv/mapping/nodeidx2paperid.csv.gz...
2026-04-04 04:20:11.601 | INFO     | __main__:build_metadata:72 - Saved metadata to data/processed/papers_metadata.csv with 169343 papers.
(venv) PS C:\Users\Adarsh Reddy\Documents\GraphSAGE> 
 *  History restored 

PS C:\Users\Adarsh Reddy\Documents\GraphSAGE> venv/Scripts/Activate
(venv) PS C:\Users\Adarsh Reddy\Documents\GraphSAGE> python src/features/encode.py
>>
2026-04-04 04:34:25.050 | INFO     | __main__:encode_text:20 - Loading metadata to extract text...2026-04-04 04:34:27.450 | INFO     | __main__:encode_text:34 - Loading SentenceTransformer model: 
sentence-transformers/all-MiniLM-L6-v2...
.gitattributes: 1.23kB [00:00, 2.35MB/s]
config.json: 100%|██████████████████████████████████████████████████████| 190/190 [00:00<?, ?B/s]
README.md: 10.5kB [00:00, ?B/s]
config.json: 100%|██████████████████████████████████████████████████████| 612/612 [00:00<?, ?B/s]
config_sentence_transformers.json: 100%|████████████████████████████████| 116/116 [00:00<?, ?B/s]
data_config.json: 39.3kB [00:00, 3.35MB/s]
model.safetensors: 100%|████████████████████████████████████| 90.9M/90.9M [00:10<00:00, 8.42MB/s]
model.onnx: 100%|███████████████████████████████████████████| 90.4M/90.4M [00:10<00:00, 8.40MB/s]
model_O1.onnx: 100%|████████████████████████████████████████| 90.4M/90.4M [00:10<00:00, 8.51MB/s]
model_O2.onnx: 100%|████████████████████████████████████████| 90.3M/90.3M [00:10<00:00, 8.34MB/s]
model_O3.onnx: 100%|████████████████████████████████████████| 90.3M/90.3M [00:10<00:00, 8.52MB/s]
model_O4.onnx: 100%|████████████████████████████████████████| 45.2M/45.2M [00:05<00:00, 8.60MB/s]
model_qint8_arm64.onnx: 100%|███████████████████████████████| 23.0M/23.0M [00:02<00:00, 8.97MB/s]
model_qint8_avx512.onnx: 100%|██████████████████████████████| 23.0M/23.0M [00:02<00:00, 8.79MB/s]
model_qint8_avx512_vnni.onnx: 100%|█████████████████████████| 23.0M/23.0M [00:02<00:00, 8.92MB/s]
model_quint8_avx2.onnx: 100%|███████████████████████████████| 23.0M/23.0M [00:02<00:00, 8.61MB/s]
openvino_model.bin: 100%|███████████████████████████████████| 90.3M/90.3M [00:11<00:00, 8.18MB/s]
openvino_model.xml: 211kB [00:00, 35.2MB/s]
openvino_model_qint8_quantized.bin: 100%|███████████████████| 22.9M/22.9M [00:02<00:00, 7.92MB/s]
sentence_bert_config.json: 100%|██████████████████████████████████████| 53.0/53.0 [00:00<?, ?B/s]
tokenizer.json: 466kB [00:00, 3.87MB/s]
vocab.txt: 232kB [00:00, 7.68MB/s]
modules.json: 100%|█████████████████████████████████████████████████████| 349/349 [00:00<?, ?B/s] 
 in batches of 64...
2026-04-04 10:07:31.860 | INFO     | __main__:encode_text:56 - Successfully saved torch.Size([169343, 384]) embeddings to data/processed/minilm_embeddings.pt.                                       in batches of 64...
(venv) PS C:\Users\Adarsh Reddy\Documents\GraphSAGE> dvc status
ERROR: you are not inside of a DVC repository (checked up to mount point 'C:\')                   43, 384]) embeddings to data/processed/mini
(venv) PS C:\Users\Adarsh Reddy\Documents\GraphSAGE> dvc init
ERROR: failed to initiate DVC - '.dvc' exists. Use `-f` to force.
(venv) PS C:\Users\Adarsh Reddy\Documents\GraphSAGE> dvc status                                                                              lm_embeddings.pt.
Data and pipelines are up to date.
(venv) PS C:\Users\Adarsh Reddy\Documents\GraphSAGE> dvc remote add -d GraphSAGE_remote gdrive://1XtcHH0ZuQ_YtFJR-kc63g8dQXVPcSiXY
Setting 'graphsage_remote' as a default remote.
(venv) PS C:\Users\Adarsh Reddy\Documents\GraphSAGE> dvc push
Collecting                                                             |26.0 [00:00, 30.9entry/s]
Pushing                                                                                          C:\Users\Adarsh Reddy\Documents\GraphSAGE\venv\Lib\site-packages\oauth2client\_helpers.py:255: UserWarning: Cannot access C:\Users\Adarsh Reddy\AppData\Local\pydrive2fs\Cache\710796635688-iivsgbgsb6uv1fap6635dhvuei09o66c.apps.googleusercontent.com\default.json: No such file or directory        
  warnings.warn(_MISSING_FILE_MESSAGE.format(filename))
Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?client_id=710796635688-iivsgbgsb6uv1fap6635dhvuei09o66c.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.appdata&access_type=offline&response_type=code&approval_prompt=force

